<!-- Form -->
<app-image-form (savedImage)="onSavedImage($event)"></app-image-form>

<div class="container py-5">
  <p>{{ images.length }} imágenes en total</p>

  <div class="row" *ngIf="images.length > 0; else emptyGallery">
    <div class="col-12 col-md-6 col-lg-3 mb-3" *ngFor="let image of images">
      <app-image [image]="image" (deletedImage)="onDeletedImage($event)"></app-image>
    </div>
  </div>
  <ng-template #emptyGallery>
    <div class="empty-message d-flex align-items-center justify-content-center flex-column">
      <h2 class="lead text-secondary">Galería Vacía</h2>
      <p class="text-secondary">Intenta guardar una imagen</p>
    </div>
  </ng-template>
</div>
