.loading-spinner {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 250px;
  background-color: #f1f1f1;
  animation: background-spinner 1s ease-in-out infinite;

  i {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    animation: rotate-spinner 1s linear infinite;
  }
}

@keyframes background-spinner {
  from {
    background-color: #f1f1f1;
  }

  50% {
    background-color: #f9f9f9;
  }

  to {
    background-color: #f1f1f1;
  }
}

@keyframes rotate-spinner {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.card {
  overflow: hidden;
  transform: scale(1);

  animation: scale-card 1.2s linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);

  img {
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;
  }

  .card-img-overlay {
    background: linear-gradient(140deg, #0000008c, transparent);

    &:hover {
      .card-actions {
        opacity: 1;
        bottom: 16px;
      }
    }
  }

  .card-actions {
    position: absolute;
    bottom: 0;
    left: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: calc(100% - 32px);
    opacity: 0;
    transition: 500ms;
  }
}

@keyframes scale-card {
  from {
    transform: scale(0.1, 0.5);
  }

  to {
    transform: scale(1);
  }
}
